<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.mapper.BoardMapper">

<!--    ===========================resultMap================================= -->

    <resultMap id="BoardMap" type="com.example.mybatis.model.entity.Board">
        <id property="id" column="board_id"/>
        <result property="title" column="board_title"/>
<!--        <association property="user" resultMap="com.example.mybatis.mapper.UserMapper.UserMap"/>-->
    </resultMap>

<!--    ===========================resultMap================================= -->


</mapper>