<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="part" column="user_part"/>
        <collection property="boards" javaType="java.util.ArrayList" resultMap="boardMap"/>
    </resultMap>

    <resultMap id="boardMap" type="Board">
        <id property="id" column="board_id"/>
        <result property="title" column="board_title"/>
        <association property="user" resultMap="UserMap"/>
    </resultMap>

    <select id="findAll" resultMap="UserMap">
        SELECT
               u.id as user_id, u.name as user_name, u.part as user_part,
               b.id as board_Id, b.title as board_title
        FROM user u LEFT JOIN board b ON u.id = b.user_id;
    </select>



    <insert id="userAdd">
        INSERT user (name, part) VALUES  (#{name}, #{part})
    </insert>
</mapper>