<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.mybatis.mapper.UserMapper">

<!--    ===========================resultMap================================= -->

    <resultMap id="UserMap" type="com.example.mybatis.model.entity.User">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="part" column="user_part"/>
        <collection property="boards" javaType="java.util.ArrayList" resultMap="com.example.mybatis.mapper.BoardMapper.BoardMap"/>
    </resultMap>



<!--    ===========================resultMap================================= -->

    <select id="findAll" resultMap="UserMap">
        SELECT
               u.id as user_id, u.name as user_name, u.part as user_part,
               b.id as board_Id, b.title as board_title
        FROM user u LEFT JOIN board b ON u.id = b.user_id;
    </select>

    <select id="findByNames" resultMap="UserMap">
        SELECT
            u.id as user_id, u.name as user_name, u.part as user_part,
               b.id as board_id, b.title as board_title
        FROM user u LEFT JOIN board b on u.id = b.user_id
        WHERE u.name IN
        <foreach collection="userNames" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </select>

    <select id="findByName" resultMap="UserMap">
        SELECT
            u.id as user_id, u.name as user_name, u.part as user_part,
            b.id as board_id, b.title as board_title
        FROM user u LEFT JOIN board b on u.id = b.user_id
        <if test="name != null">
            WHERE name = #{name}
        </if>
    </select>

    <insert id="userAdd">
        INSERT user (name, part) VALUES  (#{name}, #{part})
    </insert>
</mapper>